<main>
    {{#if error}}
    <section class="notifications">
        <p class="notification-message">{{error.message}}</p>
    </section>
    {{/if}}

    <img src="/images/sadFace.png" alt="sad-face" class="sad-face">
    <h1 class="not-found">Something went wrong. Please try again later</h1>
</main>